* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 11px;
}

:root {
  --background-color: rgb(22, 23, 26);
  --text-color: white;
  --icon-color: rgb(53, 58, 73);
  --footer-BC: rgb(46, 49, 56);
}

.lightTheme {
  --background-color: white;
  --text-color: rgb(22, 23, 26);
  --icon-color: rgb(3, 74, 83);
  --footer-BC: rgb(217, 219, 224);
}

.box {
  min-width: 100vw;
  /* min-height: 100vh; */
  height: 100vh;
  color: rgba(255, 255, 255, 0.932);
  background-color: var(--background-color);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(95, 74, 74, 0.3);
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(165, 133, 133, 0.5);
}

.topIcon {
  margin-top: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid rgb(16, 16, 19);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 1em;
  background-color: var(--icon-color);
  cursor: pointer;
}

.topSection {
  height: 25%;
  width: 100vw;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}
.upper {
  text-align: center;
  padding-bottom: 0.5em;
  padding-top: 3.5em;
}

.utubeText {
  font-size: 5.5em;
  padding-top: 0.1em;
  color: var(--text-color);
}

.textsec {
  width: 32em;
  border: 0.2px solid black;
  padding: 0.5em;
  margin-top: 1.4em;
  font-size: 1.2em;
  border-radius: 0.3em;
  font-family: "Nanum Gothic", sans-serif;
}

.textsubmit {
  cursor: pointer;
  padding: 0.4em;
  font-size: 1.2em;
  border-radius: 0.3em;
  margin-top: 1.4em;
  background-color: rgb(185, 6, 6);
  color: rgba(255, 255, 255, 0.918);
  font-weight: 600;
  margin-left: 0.8em;
  width: 6em;
  border: 0.1em solid white;
}

.middle {
  height: 25em;
  max-width: 100vw;
  /* border:0.1px solid red; */
  margin-top: 3.4rem;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middleInner {
  width: 90em;
  height: 80%;
  padding: 2em;
  background-color: var(--footer-BC);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-align: center;
}
.footer {
  height: 20em;
  position: absolute;
  bottom: 0px;
  /* /* /* align-self: flex-end; */
  display: flex;
  align-items: flex-end;
}
.outerBox {
  height: 75%;
}
.innerfooter {
  width: 100vw;
  height: 5vh;
  text-align: center;
  color: white;
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
}
.middleInner h1 {
  font-family: "Nanum Gothic", sans-serif;
  color: var(--text-color);
}

.h {
  color: red;
  width: 80%;
}

img {
  display: block;
  margin: 2rem auto;
  width: 78%;
  height: 40rem;
}

.DownloadSection {
  margin: 1rem 2rem 2rem 6rem;
  color: var(--text-color);
}

.DownloadSection h1 {
  margin-bottom: 1rem;
}

.thumbnail {
  margin-top: 4em;
}

hr {
  border: 1px solid red;
}

.chip {
  margin: 0px 7px 7px 0px;
  cursor: pointer;
  background-color: red;
  color: #fff;
}

/*
*
*Loader Css
*/

.loader {
  margin: 20px auto;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 10px;
  }
  .utubeText {
    font-size: 5.2em;
  }
  .topSection {
    width: 85%;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 8.5px;
  }
  .utubeText {
    font-size: 4.5em;
  }
  .textsec {
    width: 28em;
  }
  .textsubmit {
    width: 5.5em;
    font-size: 1.1em;
    padding: 0.2em;
  }
  .topSection {
    width: 95%;
  }
  .middleInner {
    width: 60em;
  }
}

@media only screen and (max-width: 460px) {
  html {
    font-size: 6.5px;
  }
  .utubeText {
    font-size: 3.6em;
  }
  .topSection {
    height: 15%;
  }
  .outerBox {
    height: 70%;
  }
  .middleInner {
    width: 55em;
  }
  .middle {
    height: 25em;
  }
}
